@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter-Regular.eot');
  src: local('/assets/fonts/Inter Regular'), local('Inter-Regular'),
      url('/assets/fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Inter-Regular.woff2') format('woff2'),
      url('/assets/fonts/Inter-Regular.woff') format('woff'),
      url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@layer base{
  :root {
    --text: 0, 0%, 5%;
    --text-blue:202, 71%, 56%;
    --background-blue:212, 76%, 52%;
    --background:0, 0%, 100%;
    --button-color:0, 0%, 100%;
  }
  .dark{
    --background: 0 0% 3.9%;
    --text: 0, 0%, 100%;
    --background-blue:212, 76%, 52% ,0.6;
    --text-blue:202, 71%, 56%;
    --button-color:0, 0%, 100%;
  }
}


body{
  font-family: "inter";
  background-color: hsl(var(--background)) ;
  color: hsl(var(--text));
}
